#name::placeholder {
    color: white;
    opacity: 1;
}
#email::placeholder {
    color: white;
    opacity: 1;
}
#phone::placeholder {
    color: white;
    opacity: 1;
}
#message::placeholder {
    color: white;
    opacity: 1;
}
#ddMenu:focus {
    outline: none;
}
#search {
    outline: none;
    box-shadow: none;
}
