body {
    font-family: acumin-pro, sans-serif !important;
}

#name::placeholder {
    color: white;
    opacity: 1;
}
#email::placeholder {
    color: white;
    opacity: 1;
}
#phone::placeholder {
    color: white;
    opacity: 1;
}
#message::placeholder {
    color: white;
    opacity: 1;
}
