.slider {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}
.slider a.previousButton, .slider a.nextButton {
    display: none;
}
.center {
    color: #FFFFFF;
    font-size: 65px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sliderImg {
    position: fixed;
    width: 100%;
    z-index: -1;
    object-fit: cover;
    top: 0;
    left: 0;
    right: 0;
}

.slider a.previousButton:not(.disabled):hover, .slider a.nextButton:not(.disabled):hover {
    -webkit-transform: translateY(-50%) scale(1.25);
    transform: translateY(-50%) scale(1.25);
    cursor: pointer;
}

.slider a.previousButton {
    left: 20px;
}

.slider a.nextButton {
    right: 20px;
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.slide.hidden {
    visibility: hidden;
}

.slide.previous {
    left: 0;
    opacity: 0;
}

.slide.current {
    left: 0;
    opacity: 1;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.slide.next {
    left: 0;
    opacity: 0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.slide.animateIn,
.slide.animateOut {
}

.slide.animateIn.previous,
.slide.animateIn.next {
    left: 0;
    visibility: visible;
}

.slide.animateOut.previous {
    left: 0;
}

.slide.animateOut.next {
    left: 0;
}

