li {
    list-style-type: none;
}
#dropdown {
    outline: none;
    box-shadow: none;
}
.CrossfadeImage {
    height: 100%;
    position: fixed !important;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -10000;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

#name::placeholder {
    color: white;
    opacity: 1;
}
#email::placeholder {
    color: white;
    opacity: 1;
}
#phone::placeholder {
    color: white;
    opacity: 1;
}
#message::placeholder {
    color: white;
    opacity: 1;
}
#ddMenu:focus {
    outline: none;
}
#ddSearch:focus {
    outline: none;
    box-shadow: none;
}
.react-slideshow-fade-images-wrap, .react-slideshow-fade-images-wrap > div, .react-slideshow-fade-wrapper, .react-slideshow-container, .slideshowWrapper {
    height: 100% !important;
}
.slick-slider{
    height: 100%;
    display: flex !important;
    flex-direction: row;
    align-items: center;
}
.slick-track, .slick-list {
    display: flex !important;
    align-items: center;
}
.slick-slide {
    height: 200px !important;
    width: 200px !important;
    margin-left: 25px;
    margin-right: 25px;
}
.slick-slide img {
    height: 200px !important;
    width: 200px !important;
    margin-left: 25px;
    margin-right: 25px;
    object-fit: cover;
}
.slick-arrow {
    display: none !important;
}
