body {
    margin: 0;
}
li {
    list-style-type: none;
}
#dropdown {
    outline: none;
    box-shadow: none;
}
.CrossfadeImage {
    height: 100%;
    position: fixed !important;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -10000;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}
